	<div id="site-container">
		<div class="site-title">
			<div id="puny">Puny<sup><span class="beta">beta</span><sup></div>
			<div class="title-msg">1-Click URL Shortener</div>
		</div>
		
		<div class="main-content">
			<div class="input-append" id="url-box">
				<%= form_tag( :action => "shorten", :method => "get") do %>
				  <%= text_field_tag(:url,@new_url1, :class => "span6 main-input",:placeholder => 'Enter a URL') %>
				  <button id="btn-copy" class="btn" type="button">Copy	</button>
				  <div class="copy-msg">Copied!</div>
			</div>
			
			<div class="main-btn">
				<%= submit_tag("Shorten", :class => "btn btn-warning btn-block btn-large main-button") %>
				<% end %>
			</div>
			<div class="puny-details">
				<p><strong><span><%= @total_urls %></span></strong> URLs shortened</p>
				<p><strong><span><%= @total_hits%></span></strong> Total URL visits</p>
			</div>
		</div>
		<p><%= @url_id_n %></p>
	</div>